@font-face {
  font-family: Courgette;
  src: url('./Courgette/Courgette-Regular.ttf');
}

body {
  padding: 5%;
  display: grid;
  justify-content: center;
  color: black;
  font-family: Courgette;
  border: 1px solid black hidden;
}

.parent {
  width: fit-content;
  border: 1px solid black hidden;
  background: rgb(34,195,53);
  background: linear-gradient(0deg, rgba(2, 100, 14, 0.774) 0%, rgba(245,253,45,0.5130427170868348) 100%);
  border-radius: 8px;
  box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.548);
  padding: 50px 100px;
  display: grid;
  justify-items: center;
}
.addProduct, .products {
  border: 1px solid black hidden;
  padding: 5%;
}

.products {
  min-width: 91%;
  display: grid;
  justify-items: center;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
  user-select: none; 
}
td, th {
  width: auto;
  height: auto;
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  border-radius: 3px;
  color: black;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.11);
}


th {
  font-family: Courgette;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  
}
input {
  width: 18%;
  margin-right: 0.4%;
  margin-left: 0.4%;
  padding: 12px;
  padding-left: 4%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.322);
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.11);
}

button {
  margin-left: 0.4%;
  width: 21%;
  padding: 12px;
  font-weight: 600;
  background-color: rgba(18, 126, 27, 0.205);
  border-radius: 3px;
  transition: all 0.3s;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.11);
}
button:hover{
  transition: all 0.3s;
  background-color: rgba(13, 94, 20, 0.411);
}

.removeTd {
  transition: all 0.5s;
  font-weight: 600;
  color: rgb(161, 17, 17);
}

.removeTd:hover {
  transition: all 0.5s;
  color: rgb(119, 33, 33);
}

.totalCostTd{
  font-weight: 600;
  text-align: left;
  padding-left: 70px;
}
.totalCost {
  font-weight: 600;
}
